@model IEnumerable<HrApplicationFinal.Models.ViewModels.AdminViewModels.ListUserViewModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>List of users</h2>

<div class="row box">
    <div class="col-md-12">
        <table class="table table-striped table-inverse table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        <font color="black">Actions</font>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
